
* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url("WhatsApp\ Image\ 2024-06-09\ at\ 19.37.42_128d0753.jpg");
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.contact-list {
    list-style-type: none;
    padding: 0;
}
.contact-list li {
    font-size: 66px;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: #724caf; /* Green */
    color: rgb(149, 28, 28);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.contact-list li:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
